<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.8.23/dayjs.min.js"
            integrity="sha256-cWonUId5xt6NkGriuU0+9b+pO+LlBm2LKIIzITvRyBI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.8.23/plugin/relativeTime.js"
            integrity="sha256-z9VMu9G4xLf13q9mJnbgYdMDHKxwYHzsesT72vNSZGY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/site.min.css"
          integrity="sha256-EPa/dtIS3lUDNtHIkVX23bJcaOX46oZ+7WoruRIDlTo=" crossorigin="anonymous">
    <script defer="" async="" src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/site.min.js"
            integrity="sha256-8aRg/NCtjEy/snl7iwaAnni95k6sE7W8rzW7taKMsQA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/reset.min.css"
          integrity="sha256-a0hh3T0IQd5KTW9C3+j/DWH8r3r3m+OALUa8tpOfnj4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/emoji.min.css"
          integrity="sha256-0RBcuiEugaeVOfi8Y2EhdnlayZYjSRNlmKKkXLpePeQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/button.min.css"
          integrity="sha256-aZpYuDU+V5G6yoGFNfdaI+M0VCB9o1nG+yn5v7/GaO8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/container.min.css"
          integrity="sha256-pecOYvR8+n5/5AhJtwLmY3H90Nd9okwUxKuP8EiMuis=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/divider.min.css"
          integrity="sha256-OUciFsu5jj5KWuXr2A0ezYsURGwzUBqnnNVQk4JCKYk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/icon.min.css"
          integrity="sha256-2kYMj3yE80H+IDs+HOVv+yYQN8KTZExe1HXxwlJaBIc=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/input.min.css"
          integrity="sha256-dOOtiVDI5W0krjnJI6bCAfKjtOHPOdcgPY6IE47VGWY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/label.min.css"
          integrity="sha256-/As8DoGIWvMQT0w/flx3uItD1JN2MbsIjPlu4S3UQG0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/list.min.css"
          integrity="sha256-Rz2ugXEg1LFppUgKC8+t3/zcC7oKGRLmyOHKaTs7ops=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/segment.min.css"
          integrity="sha256-oeWXkY55daQGw7f90zPVHaqxH0LOgwLKq1+dbdAg3KE=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/step.min.css"
          integrity="sha256-x/giEeqBFgDIdw5BaBKjMpWT/MzbZozKP9J0ijbUQz0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/text.min.css"
          integrity="sha256-RGG90t/oAa4qPY9iDXVBHZQXyJZ3nmvmOiT36hv/4Hg=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/form.min.css"
          integrity="sha256-JwI09oGZBW9LDgI3AVB+8Pd8nI0VFD4gj2ni/2e+T1M=" crossorigin="anonymous">
    <script defer="" async="" src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/form.min.js"
            integrity="sha256-GN4i17r6/ogi/hKWVXBCPm3RKgoHs0b4veDvWPAwXUQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/grid.min.css"
          integrity="sha256-2RXCidvut9Fot06HCkXGF1q/KVqhM7dSm9tOledUf08=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/message.min.css"
          integrity="sha256-ZgoTq8K2eiy0+lBQiEnLJ782Kdy7ltGIiJ5P18yNhU4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/table.min.css"
          integrity="sha256-EpCG1GY0ABxEjjmQ8qTOPoSze1zn26fqk62QlbeNDCU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/card.min.css"
          integrity="sha256-sqsdpHgnU4dSH+TyXvD8MUiaaMmmGIv/6t7s6M0l4W8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/feed.min.css"
          integrity="sha256-6IHBgBXQ/94fNGOCvn3zIAzkoWHlZDVScJ/8LtTuHJo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/item.min.css"
          integrity="sha256-ZmpqrZzadQLPEntxsef8wPDdGxBgCua6BwrzmVdN5q0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/dimmer.min.css"
          integrity="sha256-gfq2lyxHbwVJwcIMineyPffFiMRz4xPRLYg6llFZFDI=" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/dimmer.min.js"
            integrity="sha256-skk0u8NkvumDS4IR+uQEHj8Ocu/dcKc0uGnT5G4LL1M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/search.min.js"
            integrity="sha256-0FQIyIy4VuSk+7ze1xUvjho+XX5LuhGISdMaGZ4l48E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/search.min.css"
          integrity="sha256-G6nT0xkPzYX42CvZ5gUaCtddnBFH+p/Qvd0KvwloW9Y=" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/menu.min.css"
          integrity="sha256-iyXprTbHVV8Ll/F1FJ6m7c250kvqQOLKZ9YE5Mqvn28=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/sidebar.min.css"
          integrity="sha256-ZW7RGG2uP6QMdQEPqlZ4GQIW/845nUF0irkT4B+zcMw=" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/sidebar.min.js"
            integrity="sha256-dJJPQ7RK6HgfNe/lRGAd4FT1lbt36kYJjh/pT+bY0Vc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/modal.min.css"
          integrity="sha256-MEPrgjgLj80fd5LihK6OqNjgsOpFhafEyFNndZKXZFg=" crossorigin="anonymous">
    <script defer="" async="" src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/modal.min.js"
            integrity="sha256-DdvHNOmB798FYYYEFR+uMpC8PHuXfw7p48YvsB/am7o=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/transition.min.css"
          integrity="sha256-GynaMIDCiKmtKqkdsPItD6f4P8IPAkqVWbKE9zMdjxI=" crossorigin="anonymous">
    <script defer="" async=""
            src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/transition.min.js"
            integrity="sha256-rfQ5w5+PKtGhdcK/WjQ22ywlfBWFPXPfkfrpYMRsHt8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/tab.min.js"
            integrity="sha256-IKr8LbNHaZZ0nTAPClUh4AK+VpQoC+XT14L13qRBPtI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/tab.min.css"
          integrity="sha256-ZIsBzrHsgevvyvb9ihMG+nA8Z+04buKCJq+megopQZI=" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/dropdown.min.css"
          integrity="sha256-C1qwWSronzTK2StalHetu16levyl0E6vA6NYldvW6SY=" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/dropdown.min.js"
            integrity="sha256-QtPwgrQF/OVt32rpr2BM2qemXu4Qi08/Anjwk6Bbhdc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/ad.min.css"
          integrity="sha256-YUpvPjRmjY0ZVtMpzpyz7oOpTYC88T0KYc5en3kmXsc=" crossorigin="anonymous">
    <script>
        dayjs.extend(window.dayjs_plugin_relativeTime)
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-57542666-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-57542666-7');
    </script>
</head>
<body style="margin-top: 32px;">
<div class="ui stackable container borderless menu">
    <div class="item">
        <p>
            <img class="ui middle aligned mini image" src="https://www.ifpe.edu.br/favicon.ico" alt=""
                 style="max-width: 60px; position: relative">
            <strong style="position: relative; top: -10px; margin-left: 5px">
                Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco
            </strong>
        </p>
    </div>
</div>
<div class="ui two column mobile reversed stackable grid container">
    <div class="sixteen wide column">
        <div class="ui segment">
            <h2>Você não tem permissão para isso!</h2>
            <hr style="color: whitesmoke; margin-bottom: 15px">
            <a href="{% url 'login' %}" class="ui primary button">Voltar para a página inicial</a>
        </div>
    </div>
</div>

</body>
</html>